/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 * {
  text-decoration: none;
  box-sizing: border-box;
 }

.name {
  color: white;
  padding-top: 15px;
  margin-right:30px;
}
.dropdown {
  display: flex;
}
.header-image {
  border-radius: 50%;  
  width:  50px;       
  height: 50px;
}
.header-left {
  display: flex;
}
.header-search {
  margin-top: 20px;
}
.header-search-button {
  display: none;
}
.nav-list{
  padding-left: 10px;
  color: black;
  text-decoration: none;
}
.nav-list:hover{
  padding-left: 10px;
  color: black;
  text-decoration: none;
}
.header-button {
  border-radius: 5px;
  padding: 5px 12px;
}
.header-button a {
  text-decoration: none;
  color: white;
}
.login, .submit {
  background-color: #4a90e2 ;
  margin-right: 10px;
}
.signin {
  background-color: gray;
}
footer {
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.submit {
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  border: 1px solid  #4a90e2;
}
.return {
  padding: 10px 50px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  background-color: gray;
  border: 1px solid  gray;
  width: 100%;
}

/*ログイン、サインイン、アカウント共通CSS*/
.form-wrapper{
  display: flex;
  justify-content: center;
}
.form-view {
  display: flex;
}

/*ログイン後のフォーム画面 ex)設定、ルーム登録画面*/
.color-form-wrapper {
  background-color: #F6F8F9;
}
.form {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #eaedef;
}
.setting-row {
  display: flex;
}
.label{
  padding-right: 40px;
  text-align: left;
  font-weight: bold;
}
.setting-row ul {
  list-style: none;
  display: flex;
}
.nav-not-title {
  color: black;
}
.setting-row {
  border-bottom: 1px black solid;
  margin:30px 20px;
}
.setting-row input {
  width: 100%;
}

.nav {
  padding-bottom: 20px;
}
.nav ul{
  list-style: none;
  font-size: 20px;
  margin: 30px 0 0px 20px ;
}
.nav a{
  text-decoration: none;
}
.nav a:hover{
  text-decoration: none;
}
.profile-image {
  border-radius: 50%;  
  width:  70px;       
  height: 70px;
  margin-bottom: 25px;
}
.image-row {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eaedef;
}
.setting-row {
  border-bottom: 1px solid #eaedef;
}
.account-button {
  text-decoration: none;
  text-align: center;
}
.account-button:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .header-search {
    display: none;
  }
  .form {
   width: 97%;
  }
  .nav ul {
  display: flex;
  }
  .profile {
    margin-left: 50px;
  }
  .account {
    margin-right: 50px;
  }
  .nav-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #4a90e2;
  }
}
@media (min-width: 1000px) {
  .view {
    display: flex;
  }
  .nav {
    width: 20%;
  }
  .nav li {
    padding-bottom: 10px;
  }
  .nav-title {
    padding-right: 20px;
    border-right: 3px solid #4a90e2;
  }
  .color-form-wrapper {
    width: 80%;
  }
}

/*index画面*/
.index-view {
  padding-left: 40px;
}
table {
  text-align: center;
}
tbody td{
  padding: 16px 3px;
  border-bottom: 1px solid #eaedef;
} 
.index-column th{
  padding: 8px 15px;
  border-bottom: 1px solid #eaedef;
  border-top: 1px solid #eaedef;
}
.room-image {
  width: 240px;
  height: 140px;
  object-fit: cover;
}
.index-title {
  padding: 20px 0px;
}

/*アカウント編集画面・予約確認画面*/
.edit-view-wrapper, .confirm-view-wrapper {
  border: 1px solid #eaedef;
  display: flex;
  justify-content: center;
}
.edit-view, .confirm-view {
  margin-top: 30px;
  margin-bottom: 60px;
  border: 1px solid #eaedef;
  padding: 20px 80px;
  text-align: center;
}
