// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  max-width: 1400px;
}
section {
  background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
  background-size: cover;
}
.top-message-wrapper{
  display: flex;
  align-items: center;
  margin: 16%;
}
.top-message-wrapper{
  background-color: white;
  border-radius: 5px;
  justify-content: center;
}
button {
  background-color: #4a90e2;
  color: white;
}
